dash==1.16.3
dash_bootstrap_components==0.11.1
dash_core_components==1.12.1
dash_html_components==1.1.1
dash-renderer==1.8.2
dash-table==4.10.1
Flask==1.1.2
Flask-Compress==1.8.0
future==0.18.2
gunicorn==19.9.0
pandas==0.25.1